/*
Theme Name: Pay me
Theme URI: https://repost.uz/
Description: The theme was created for a special project repost.uz
Author: alexl
Author URI: https://i-wp-dev.com
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: pay-me
*/

.logged-in header {
	top: 30px !important;
}

.hide, .otgs-development-site-front-end, .wpml-ls-statics-footer {
	display: none;
}

.soc .a2a_kit {
	width: fit-content !important;

}

.soc .addtoany_list.a2a_kit_size_32 a:not(.addtoany_special_service) > span {
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #000000;
}

.soc .addtoany_list.a2a_kit_size_32 .a2a_s_facebook:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 50%;
}

.addtoany_list a, .widget .addtoany_list a {
	padding: 0 7.5px;
}

.description-button {
	margin-bottom: 0;
	margin-top: 30px;
	font-weight: 500;
	font-size: 20px;
}

.soc .a2a_button_facebook {
	padding-left: 0 !important;
}

.soc .addtoany_list.a2a_kit_size_32 .a2a_s_facebook svg {
	width: 34px;
	top: 10px;
}

.soc .addtoany_list.a2a_kit_size_32 .a2a_s_facebook path {
	fill: #2F80ED !important;
}

.soc .addtoany_list.a2a_kit_size_32 .a2a_s_telegram {
	background: #B02FED !important;
}

.soc .addtoany_list.a2a_kit_size_32 .a2a_s_facebook {
	background: #2F80ED !important;
	position: relative;
}

.soc {
	margin: 0 15px 0 0;
}

header .soc {
	justify-content: flex-end;
	margin-right: 0;
}

#menu-lang {
	position: relative;
}

.wpml-ls-legacy-dropdown-click a {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #fff !important;
	gap: 5px;
	font-family: 'Epilepsy Sans';
	padding: 10px 0;
}

.wpml-ls-sub-menu {
	position: absolute;
	padding: 10px !important;
	background: #fff;
	left: 50% !important;
	transform: translateX(-50%);
	border-radius: 3px;
	z-index: 9999999;
	top: 40px;
	min-width: max-content;
}

.wpml-ls-sub-menu:before {
	content: '';
	position: absolute;
	border: 5px solid transparent;
	border-bottom: 5px solid #fff;
	top: 0;
	transform: translate(-50%, -100%);
	left: 50%;
}

.wpml-ls-item {
	position: relative;
}

.wpml-ls-sub-menu li {
	transition: all 0.3s ease;
	font-family: 'Epilepsy Sans';
	min-width: max-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	min-width: max-content;
}

.wpml-ls-sub-menu a {
	color: #000 !important;
}

.wpml-ls-legacy-dropdown-click {
	width: auto;
}

.wpml-ls-legacy-dropdown-click a {
	background-color: transparent;
	border: none !important;
}

.wpml-ls-legacy-dropdown-click a:focus,
.wpml-ls-legacy-dropdown-click a:hover {
	background-color: transparent !important;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-current-language:focus > a,
.wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover > a {
	background-color: transparent !important;
	color: #fff !important;
}

img.wpml-ls-flag {
	height: 11px !important;
	width: auto !important;
}

#menu-lang .sub-menu li:not(:last-of-type) {
	margin-bottom: 10px;
}

#menu-lang .sub-menu li a {
	color: #000;
	min-width: max-content;
}

#menu-lang .sub-menu li:hover {
	opacity: 0.5;
}

@media only screen and (min-width: 1025px) {
	#menu-lang:hover .sub-menu {
		display: block;
	}
}

@media only screen and (max-width: 640px) {
	header a:last-of-type img {
		width: auto;
		height: 15px;
	}

	header a:first-of-type img {
		height: 20px;
		width: auto;
	}

	header .col {
		display: none;
	}
}

@media only screen and (max-width: 479px) {
	.wpml-ls-sub-menu {
		left: 8% !important;
	}
}

@media only screen and (max-width: 389px) {
	.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle {
		padding-right: calc(10px + 0.8em) !important;
	}

	.wpml-ls-legacy-dropdown-click .wpml-ls-flag + span {
		font-size: 13px !important;
	}

	header a:last-of-type img {
		width: auto;
		height: 12px;
	}

	.wpml-ls-legacy-dropdown-click a span {
		font-size: 13px !important;
	}

	header a:first-of-type img {
		height: 17px;
		width: auto;
	}
}